# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE Directories
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary & Build artifacts
node_modules/
dist/
build/
*.tmp
*.log
